body {
    background: rgb(92,81,145);
    background: linear-gradient(90deg, rgba(92,81,145,1) 0%, rgba(36,25,88,1) 50%, rgba(36,25,88,1) 100%);
}

p, h1, h4 {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    height: 90vh;
    margin: 2rem;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.sidebar-1 {
    grid-row: 1/4;
}